aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
contextvars==2.4
eventbrite==3.3.5
idna==2.10
immutables==0.15
loguru==0.5.3
multidict==5.1.0
pydantic==1.8.1
pytz==2021.1
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.3
uvloop
vbml==1.1
vkbottle @ https://github.com/timoniq/vkbottle/archive/master.zip
vkbottle-types==0.1.24
watchgod==0.7
yarl==1.6.3
